BasedOnStyle: LLVM
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: None
BreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: All
